body{
    background-color: #d5f4e6;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #618685;
    height: 50px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #497070;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: calc(100vh - 50px);
    margin: 0 auto;
    text-align: center;

}

.center{
    text-align: center;
}

.first{
    color: #4bb5c1;
}

.second{
    font-size: 2rem;
    color: #618685;
}

.third{
    font-size: 3rem;
    color:  #4bb5c1;
}


  label[for = "email"]{
    margin-left: -43px;
  }

  label[for = "name"]{
    margin-left: -45px
  }

  label{
    color: #497070;
  }