body{
    background-color: #d5f4e6;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #618685;
    height: 50px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #497070;
  }

  

.resume-container{
  display: grid;
  height: calc(100vh - 150px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  color: #497070;
  padding-left: 30px;
  padding-right: 30px;

}

  h1{
    color: #618685;
    margin-left: 30px;
  }

  .light{
    color: #4bb5c1;
  }